asgiref==3.6.0
certifi==2023.5.7
charset-normalizer==3.1.0
dj-database-url==2.1.0
Django==4.1.7
django-environ==0.11.2
gunicorn==21.2.0
idna==3.4
packaging==23.2
psycopg2-binary==2.9.6
requests==2.31.0
sqlparse==0.4.3
typing_extensions==4.8.0
tzdata==2022.7
urllib3==2.0.3
whitenoise==6.6.0