<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Product</title>
</head>
<style>
    table {
        border: 8px outset;
        border-radius: 10px;
        border-spacing: 10px;
        padding: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    th,
    td {
        padding: 5px;
        border: 1px solid;
    }
</style>

<body>
    <h2 style="text-align:center"> Product Information </h2>
    <table align="center" style="margin: 0px auto;">
        <thead>
            <tr>
                <th>Name</th>
                <th>InPrice</th>
                <th>Price</th>
                <th>Stock</th>
                <th>Designation</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{product.name}}</td>
                <td>{{product.inPrice}}</td>
                <td>{{product.price}}</td>
                <td>{{product.stock}}</td>
                <td>{{product.desc}}</td>
                <td>
                    <a href="/edit/{{product.pk}}">Update</a>
                </td>
                <td>
                    <a href="/remove/{{product.pk}}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <br><br>
    <div class="alert alert-danger" role="alert">
        Do you want to enter more Product?
    </div>

    <p>
        <a href="{% url 'insert-pro' %}"><-- Go To Home Page</a>
    </p>
</body>

</html>